<template id="kupukupu-feed-item-template">
    <article class="feed-item" tabindex="0">
        <header class="feed-item__header">
            <div class="feed-item__meta">
                <span class="feed-item__source"></span>
                <time class="feed-item__time" datetime=""></time>
            </div>
            <h2 class="feed-item__title">
                <a href="" target="_blank" rel="noopener noreferrer"></a>
            </h2>
        </header>
        <div class="feed-item__content"></div>
    </article>
</template>